*
{
margin: 0;
font-family: 'Cormorant Garamond', serif;
line-height: 2em;

}

body{
  background-image: url('background.jpg');
  background-size: contain;
  background-position: center;
  padding-left: 15%;
  padding-right: 15%;
}

pre
{
  padding-top: 5%;
  font-size: 1.3em;
  line-height: 1.3em;
  font-style: normal;
  align-items: center;
}

h1, h2, h3
{
  margin-top: 1em;
  text-align: center;
  line-height: 50px;
}

h5
{
  text-align: center;
}
h5 a
{
  text-decoration:none;
  color: black;
}

.fig
{
  padding: 3% 0 0 0;
}

img {

  margin-left: 50%;
  opacity: 0.8;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 400px;
}

img:hover{
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition: opacity 1.5s;
}

p
{
  text-indent:2.5em;
  margin-top: 3%;
  line-height:1.4em;
  font-size: 1.4em;
}

.chapter
{
  margin-top: 5%;
}

table a{
  text-decoration: none;
  font-style:oblique;
  color: rgba(128,96,77,0.8);

}

hr
{
  border: 0;
  margin: 5% 0 0 5%;
   height: 3px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128,96,77,0.6), rgba(0, 0, 0, 0));
}


p.poem
{
    font-weight: bold;
    text-indent: 0em;
    margin-left: 30%;
}

p.letter
{
    font-weight: lighter;
    font-style: italic;
    text-indent: 0em;
    padding-left: 10%;
    padding-right: 10%;

}
